<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    {% extends "includes/navbar.html" %} {% block content %}
    <h1>Sobre la pagina</h1>
    <p>
      Esta pagina trata sobre un sencillo safari realizado en las tranquilas
      tierras de Uganda, donde se explora la fauna silvestre y se disfruta de la
      emocion de la naturaleza. (Claramente es falso xd)
    </p>
    {% endblock %}
  </body>
</html>
